
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div style="color:green;">
    @ViewBag.Message
</div>
<div style="color:red;">
    @ViewBag.Error
</div>
<div class="row">
    <br />
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <form action="@Url.Content("~/Access/Index")" method="post">

                <label>Usuario</label>
                <input class="form-control" type="text" name="correo" />
                <label>Contraseña</label>
                <input class="form-control" type="password" name="contrasenia" />


                <br />
                <div class="text-right">
                    <input type="submit" class="btn btn-primary" value="Iniciar sesión" />
                </div>
                <div>
                    @Html.ActionLink("Olvidaste tu contraseña?", "StartRecovery")
                </div>
            </form>
        </div>
    </div>
</div>



