@model ControlHrsConsultoria.Models.ViewModel.FProyectoViewModel
@{
    ViewBag.Title = "Nuevo Proyecto";
}
<br /><br />
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Nuevo", "Proyecto", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Descripcion)
                @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.MontoPrecio)
                @Html.TextBoxFor(d => d.MontoPrecio, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.MontoPrecio, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.Costo)
                @Html.TextBoxFor(d => d.Costo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Costo, null, new { @class = "red" })
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(d => d.FechaInicio)<br />
                    @Html.EditorFor(d => d.FechaInicio, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.FechaInicio, null, new { @class = "red" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(d => d.FechaFinal)<br />
                    @Html.EditorFor(d => d.FechaFinal, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.FechaFinal, null, new { @class = "red" })
                </div>
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.Status)
                @Html.CheckBoxFor(d => d.Status)
                @Html.ValidationMessageFor(d => d.Status, null, new { @class = "red" })
            </div>

            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
                <a href="~/Proyecto/" class="btn btn-danger">Cancelar</a>
            </div>

        </div>

    </div>

}

  